@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html{
    height: 100%;
    min-height: 100%;
}

body {
    background-attachment: fixed;
    background-image: url("bg.jpg");
    background-size: cover;
    background-position: center;
    background-color: #0f3130;
    font-family: 'Open Sans', sans-serif;
    color: black;
}

p {
    margin: 0;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

a {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

video {
    max-width: 100%;
    height: auto;
}

img.emoji {
   height: 1em;
   width: 1em;
   margin: 0 .05em 0 .1em;
   vertical-align: -0.1em;
}

.bubble-wrapper > ul > li {
    display: table;
    padding: 0.5em 1em;
    margin-top: 1em;
    border-radius: 0.5em;
    max-width: 70%;
    word-break: break-word;
}

.admin-message >li {
    background-color: #e2f3fc;
    margin-left: auto;
    margin-right: auto;
}

.chat-message::before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 15px 0px 15px;
    border-color: white transparent transparent transparent;
    content: "";
    position: absolute;
    left: -14px;
}

.chat-message {
    position: relative;
    margin: 0;
}

.chat-message > li {
    background-color: white;
}

.chat-message > li + li {
    margin-top: 0.2em;
}

.sender > li {
    background-color: #dcf8c6;
    margin-left: auto;
}

.sender::before {
    border-color: #dcf8c6 transparent transparent transparent;
    right: -14px;
    left: unset;
}

.sender .name {
    display: none;
}

.name {
    font-weight: bold;
}

.time {
    font-size: 0.7em;
    text-transform: uppercase;
}

.loader {
    margin-top: 10em;
}

.dropdown-content li>a, .dropdown-content li>span {
    padding-right: 32px;
}
